body {
    text-align: center;
}

#beauty {
    width: 400px;
    height: 400px;
    border-width: 3px;
}

span {
    height: 40px;
    width: 40px;
}

div {
    height: 40px;
    width: 40px;
}

img {
    height: 40px;
    width: 40px;
}